* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.container {
  display: flex;
  width: 80vw;
}
.panel {
  position: relative;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 5px;
  transition: flex 0.5s ease-in;
}
.panel h3 {
  position: absolute;
  font-family: 'Open Sans';
  bottom: 50px;
  left: 50px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.3s;
}